body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert-info {
    background: #aee6e4;
    padding: 20px;
    margin: 10px;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;

}

.hidden-on-desktop a:link {
    color: black;
    text-decoration: none;
}

h1 {
    align-self: center;
    margin: auto;
    font-family: sans-serif;
    font-size: 3em;
    padding-bottom: 10px;


}

.nav-links {
    list-style: none;
    background: white;
    padding: 5px;
    margin: 10px;

}

li {
    display:flex;
    background: lightgrey;
    padding: 14px;
    margin-bottom: 8px;
    justify-content: center;

}

.header-img img{
    display: flex;
    width: 96%;
    margin-left: 5px;
    padding: 1px;
}

.main {
   padding: 3px;
    font-family: sans-serif;

}

.sub-section {
    font-style: italic;
    font-family: sans-serif;
}

.footer {

}

@media screen and (min-width:992px) {
    body {
        height: 800px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0;
        padding: 0;
    }
.alert-info {
    display: none;
}

nav {

    display: grid;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    text-align: right;
}

li {
    display: inline-block;
    background: none;
    margin: -5px;
    padding: 30px;
}


.header-img     {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    margin-left: 25px;
}

.main {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 25px;
}

.sub-section {
    grid-column: 4 / 6;
    grid-row: 3/ 4;
    padding: 25px;

}
footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 25px;
}

}